<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Interfaces/</directory>
            <directory>src/Join/</directory>
            <file>src/Join.php</file>
            <file>src/Order.php</file>
            <file>src/View.php</file>
            <file>src/Type.php</file>
            <file>src/Primitive.php</file>
            <file>src/EntityCache.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
